[includeIf "gitdir:~/dev/my/"]
  path = ~/dev/my/.gitconfig-my
[includeIf "gitdir:~/dev/vbrato/"]
  path = ~/dev/vbrato/.gitconfig-vbrato

[core]
  editor = nvim
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	cl = !~/github-clone.sh
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/frixaco/dev/vbrato/vbrato-api
