[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig-personal
[includeIf "gitdir:~/vbrato/"]
  path = ~/vbrato/.gitconfig-vbrato

[core]
  editor = nvim
  pager = delta
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[interactive]
  diffFilter = delta --color-only

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	cl = !~/github-clone.fish
  bl = !~/bare-clone.fish
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/frixaco/vbrato/vbrato-api


[delta]
  navigate = true    # use n and N to move between diff sections

  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
  side-by-side = false
  line-numbers = true

[merge]
  conflictstyle = diff3
