[includeIf "gitdir:~/personal/"]
	path = ~/personal/.gitconfig-personal
[includeIf "gitdir:~/vbrato/"]
	path = ~/vbrato/.gitconfig-vbrato

[core]
	editor = nvim
	; pager = delta
	hooksPath = /home/frixaco/.githooks
	preloadindex = true
	attributesfile = ~/.gitattributes
	autocrlf = input

[diff]
	; tool = nvimdiff
	external = difft
	colorMoved = default
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	bl = !~/bare-clone.fish
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = ~/vbrato/vbrato-api


[delta]
	navigate = true    # use n and N to move between diff sections
	# delta detects terminal colors automatically; set one of these to disable auto-detection
	dark = true
	features = cyberdream
	# light = true
	side-by-side = false
	line-numbers = true

[delta "decorations"]
	syntax-theme = cyberdream

[merge]
	conflictstyle = diff3

[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[status]
	branch = true
	showStash = true
	showUntrackedFiles = all

[alias]
	dl = -c diff.external=difft log -p --ext-diff
	dft = -c diff.external=difft diff
[user]
	name = frixaco
	email = rustam21ashurmatov@gmail.com
