[core]
	editor = nvim
	pager = delta
	preloadindex = true
	autocrlf = input
{{- if eq .chezmoi.os "linux" }}
{{- 	if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	sshCommand = ssh.exe
{{- 	end }}
{{- end }}

[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[maintenance]
	auto = 1

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[diff]
	tool = difftastic

[merge]
	conflictStyle = zdiff3

[user]
	name = frixaco
	email = rustam21ashurmatov@gmail.com

{{ if .work -}}
[includeIf "gitdir:~/Documents/vbrato/"]
	path = ~/Documents/vbrato/.gitconfig-vbrato
{{- end }}
